*.o
*.obj
*.a
*.lib
*.axf
*.elf
*.hex
*.map
*.lst
*.crf
*.d
*.htm
*.iex
*.lnp
*.sct
*.dep
*.dbgconf
*.dbf
*.uvguix.*
*.uvoptx
*.uvprojx.*

Objects/
Listings/
Debug/
Release/
build/
dist/
node_modules/

.DS_Store
Thumbs.db

*.epru
